.subtopo {
  width: 100%;
  height: 90px;
  background-color: rgb(4, 4, 95);
}
.h2 {
  display: block;
  height: 100%;
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h22 {
  height: 100%;
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h222 {
  display: none;
}

@media (min-width: 768px) {
  .h222 {
    display: block;
}
.subtopo {
  height: 60px;
}
.h2 {
  display: none;
}
}